{% extends "base.html" %}

{% block content%}

<h1>Billing <small>{{ theCustomer }}</small></h1>
<h3>Employee: {{ user.first_name }} {{ user.last_name }}</h3>

{% for entry in workEntries %}
	{% if entry.totalTime > 0 %}
		<hr/>
		<h4>Project: {{ entry.project }}</h4>
		<strong><p>Task: </strong>{{ entry.task }}</p>
		{% if entry.notes %} <p><strong>Notes:</strong> {{ entry.notes }}</p> {% endif %}
		<p><strong>Total Time:</strong> {{ entry.totalTime }}</p>
		{% if entry.workduration_set.count > 0 %}
			<strong>Dates and times worked:</strong>
			<ul>
			{% for duration in entry.workduration_set.all %}
				<li>{{ duration.start }}{% if duration.end %} to {{ duration.end }}{% else %} (in progress){% endif %}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
{% endfor %}
{% endblock %}