{% extends "base.html" %}
{% block title %}Project Tracker - Index{% endblock %}

{% block head %}
<script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
<link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" media="screen">

<script>
	// Datetime picker for new entries created through modal
	$(document).ready(function() {
		$( "#id_beginDateTime" ).datetimepicker();
		$( "#id_endDateTime" ).datetimepicker();
		$( "id_lastWorkedDate" ).datepicker();
	});
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span9">
		<!-- Title display -->
		<h2>{% if allEntries %}All Entries
			{% elif theDate %}Entries For {{ theDate|date:"l, N d" }}
			{% else %}Entries For {{ today|date:"l, N d" }}{% endif %}</h2>

	</div>
	<div class="span3">
		<!-- Pagination for navigating days -->
		{% if not allEntries %}
		<div class="pagination pull-right">
		  <ul>
		    <li><a href="{% url 'date' yesterday.year yesterday.month yesterday.day %}"><i class="icon-double-angle-left"></i></a></li>
		    <li {% if today %}class="disabled"><span>Today</span>{% else %}><a href="{% url 'today' %}">Today</a>{% endif %}</li>
		    <li {% if today %}class="disabled"><span><i class="icon-double-angle-right"></i></span>{% else %}><a href="{% if not today %}{% url 'date' tomorrow.year tomorrow.month tomorrow.day %}{% endif %}"><i class="icon-double-angle-right"></a></i>{% endif %}</li>
		</ul>
		{% endif %}
	</div>
</div>

<div class="row-fluid">
	<div class="span3">
		<!-- Total time worked -->
		<h4>{% if allEntries %}Grand {% else %}The Day's {% endif %}Total:</h4>
		<p>{% if time.total > 0 %}{{ time.total }}{% else %}0{% endif %} hours</p>
		<br/>

		<!-- Modal: Add New Entry-->
		<div id="newEntry" class="modal hide fade in" style="display: none;">
			<form class="modal-form" action="" method="post">
				{% csrf_token %}
				<div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Add New Work Entry</h3></div>
				<div class="modal-body">{{ form.as_table }}</div>
				<div class="modal-footer">
					<button type="submit" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
   					<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
   				</div>
   			</form>
   		</div>
		<button class="btn btn-primary" data-toggle="modal" data-target="#newEntry">New Entry</a>
	</div>
	<div class="span9">
		{% for entry in workEntries %}
			<!-- Highlights current work -->
			{% if entry.isRunning %}
				<div class="hero-unit">
					<h2>{{ entry.project }} - {{ entry.task}}<small> {{ entry.customer }}</small></h2>
					<h4>Total Time: {{ entry.totalTime }} hours</h4>
					<p>{{ entry.notes }}</p>
					<ul>
					{% for duration in entry.workduration_set.all|slice:"3" %}
						<li>{{ duration.start }}{% if duration.end %} to {{ duration.end }}{% else %} (in progress){% endif %}</li>
					{% endfor %}
					</u>
					<a href="{% url 'stop_task' entry.id %}" class="btn btn-danger" type="button">Stop</a>
					<a href="{% url 'update_form' entry.id %}" type="submit" value="Submit" class="btn">Edit</a>
				</div>
			{% else %}
				<!-- The rest of the user's work, either current day or all -->
				<div class="well well-small">
					<div class="row-fluid">
						<div class="span8">
							<h5>{{ entry.project }} - {{ entry.task}} <small>{{ entry.customer }}</small></h5>
							{% if entry.notes %}{{entry.notes}}{% endif %}
							<ul>
								{% for duration in entry.workduration_set.all %}
								<li>{{ duration.start }}{% if duration.end %} to {{ duration.end }}{% endif %}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="span1"><h5>Time</h5>{{ entry.totalTime }} hours</div>
						<div class="span3">
							<br/>
							{% if entry.isRunning %}
							<a href="{% url 'stop_task' entry.id %}" class="btn btn-danger" type="button">Stop</a>
							{% else %}
							<a href="{% url 'start_task' entry.id %}" class="btn btn-success" type="button">Start</a>
							{% endif %}
							<a href="{% url 'update_form' entry.id %}" type="submit" value="Submit" class="btn">Edit</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
<script>
	$(function() {
    	$( "#id_lastWorkedDate" ).datetimepicker();
  	});
	</script>
{% endblock %}