{% extends "base.html" %}
{% block title %}Project Tracker - Index{% endblock %}

{% block head %}
<script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
<link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" media="screen">

<script>
	$(document).ready(function() {
		$( "#id_beginDateTime" ).datetimepicker();
		$( "#id_endDateTime" ).datetimepicker();
	});
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span9">
		<h2>{% now "l, F d" %}</h2>
	</div>
	<div class="span3">
		<div class="pagination pull-right">
		  <ul>
		    <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
		    <li class="disabled"><a href="#">Today</a></li>
		    <li><a href="#"><i class="icon-double-angle-right"></a></i></li>
		</ul>
	</div>
</div>

<div class="row-fluid">
	<div class="span3">
		<h4>Today's Total:</h4>
		<p>Some amount of hours</p>
		<br/>

		<!-- Modal -->
		<div id="newEntry" class="modal hide fade in" style="display: none;">
			<form class="modal-form" action="" method="post">
				{% csrf_token %}
				<div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Add new work entry</h3></div>
				<div class="modal-body">{{ form.as_table }}</div>
				<div class="modal-footer">
					<button type="submit" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
   					<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
   				</div>
   			</form>
   		</div>
		<button class="btn btn-primary" data-toggle="modal" data-target="#newEntry">New Entry</a>

	</div>
	<div class="span9">
		{% for entry in workEntries %}

			{% if entry.isRunning %}
				<div class="hero-unit">
					<h2>{{ entry.task }} - {{ entry.project}}<small> {{ entry.customer }}</small></h2>
					<h4>Total Time: {{entry.totalTime }}</h4>
					<p>{{ entry.notes }}</p>
					<ul>
					{% for duration in entry.workduration_set.all|slice:"3" %}
						<li>{{ duration.start }} to {{ duration.end }}</li>
					{% endfor %}
					</u>
					<a href="{% url 'stop_task' entry.id %}" class="btn btn-danger" type="button">Stop</a>
					<button class="btn" type="button">Edit</button>
				</div>
			{% else %}

				<div class="well well-small">
					<div class="row-fluid">
						<div class="span8">
							<h5>{{ entry.task }} ({{ entry.project}})</h5>
							{% if entry.notes %}{{entry.notes}}{% endif %}
							<ul>
								{% for duration in entry.workduration_set.all %}
								<li>{{ duration.start }}{% if duration.end %} to {{ duration.end }}{% endif %}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="span1"><h5>Time</h5>{{ entry.totalTime }} hours</div>
						<div class="span3">
							<br/>
							{% if entry.isRunning %}
							<a href="{% url 'stop_task' entry.id %}" class="btn btn-danger" type="button">Stop</a>
							{% else %}
							<a href="{% url 'start_task' entry.id %}" class="btn btn-success" type="button">Start</a>
							{% endif %}
							<button class="btn" type="button">Edit</button>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}